* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
  }

  /* ################# Topics ############### */
  .items {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: ;
  }

  .topics {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .items img{
    margin-bottom: 20px;
  }


  .text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 48px;
  }

  .items h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 29px;
    text-align: center;
  }

.items button{
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    background-color: #4CE0D7;
    padding: 10px 40.1px 9.12px 40px;
    border-radius: 40px;
    cursor: pointer;
}