* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body{
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
  }

  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
  }

  /* ################# Topics ############### */
  .items {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 41px 30px 30px 30px;
    border-radius: 20px;
    margin-bottom: 87.5px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    transition: 0.2s;
    cursor: pointer;
    
  }
  .items:hover {
    transform: translateY(-15px);

  }

  .topics {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .items img{
    margin-bottom: 20px;
  }


  .text h1 {
    margin-top: 73px;
    margin-bottom: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 48px;
  }

.container{
  max-width: 1440px;
  width: 100%;
  padding: 0 84px;
  margin: 0 auto;
}
.line {
  height: 1px;
  background-color: #BCBCBC;
  margin-bottom: 52.5px;
  max-width: 1267px;
}


/* header */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 47px;
}



.navigation a{
  padding: 8px 32px;
  font-size: 14px;
  font-weight: 700;
  color: #262626;
  border-radius: 40px;
  transition: .2s;
}


.navigation a:hover{
  background-color: #4CE0D7;
}

.navigation img{
  margin-left: 67px;
  transition: .2s;
  cursor: pointer;
}

.navigation img:hover{
  transform: scale(1.1);
}


.navigation{
  display: flex;
  align-items: center;
}


.first-section{
  background-image: url(Assets/Mask\ group.png);
  height: 559px;  
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex; 
  justify-content:left;
  align-items: center;
  max-width: 1272px;
  background-position: center;
}


.first-section-content{
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
}


.first-section-content p{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  height: 18px;
  letter-spacing: 0.23em;
}


.first-section-content h1{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 46px;
  height: 69px;
}

.first-section-content span{
  background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}


.first-section-content h3{
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  height: 30px;
  max-width: 494px;
}

  /* Topics  */


  .items h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 29px;
    text-align: center;
  }

.items a {
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    background-color: #4CE0D7;
    padding: 10px 40.1px 9.12px 40px;
    border-radius: 40px;
    cursor: pointer;
    color: #262626;
}

/* #### fashion chapter  */

.fashion {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: -28px;
}
.fashion a {
  position: absolute;
  z-index: 5;
  padding: 10px 81px;
  border-radius: 40px;
  color: #FFFFFF;
  background-color: #262626;
  top: 23.34px;
  left: 165.27px;
  }
  .fashionheader{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin-top: 23.34px; */
    margin-bottom: 29.59px;
  }

  .fashionheader h3{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #BCBCBC;
    width: 168px;
  }

  .fashionheader h3:nth-of-type(1) {
    margin-left: 20.99px;
  }
  .fashionheader h3:nth-of-type(2) {
    margin-left: 49.99px;
  }

  .fashionheader h4{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #F25E5E;
    margin-left: 389px;

  }

  .fashiontext {
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px ;
    width: 1204px;

  }


  .fashiontext h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: #262626;
    margin-bottom: 23px;
  }

  .fashiontext p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #262626;
    margin-bottom: 30px;
    max-width: 1033px;

  }

  .new-line {
    display: block;
    }

  .readmore h3{

    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: #4CE0D7;

  }

  .readmore {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 11px;
  }

/* footer */

.footer{
  display: flex;
  flex-direction: column;
  padding-top: 87px;
  background-color: #FFFFFF;
  border-radius: 40px 40px 0 0;
  box-shadow: 6px 0px 6px 0px #0000000D;
}

.footer-first{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;
}


.footer-navigation{
  display: flex;
  gap: 21px;
  align-items: center;
}

.footer-navigation img{
  transition: .2s;
}

.footer-navigation img:hover{
  transform: scale(1.1);
}


.footer-second{
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-bottom: 37px;
}

.footer-line{
  height: 1px;
  width: 100%;
  background-color: #BCBCBC;
}

.footer-navigation h2{
  font-size: 26px;
  font-weight: 700;
}

.footer-second p{
  font-size: 14px;
  font-weight: 700;
  color: #262626;
}